$mPrimaryColor = $bluegrey800
$placeholderColor = $white
$backgroundDarkColor = $white
$backgroundLightDarkColor = $grey500
$borderDarkColor = $white
$highlightDarkColor = $bluegrey500
$textDarkColor = #565D7F
$errorColor = $red500
$goodColor  = $cyan500
$buttonBorderColor = #3A405E
$checkboxBorderColor = #3A405E
$checkboxCheckedBackgroundColor = #5480FF
$checkboxCheckedForegroundColor = $white
$dashMenuDarkColor = $white
$dashFooterDarkColor = $white
$tokenCardGradient1Color = #373C53
$tokenCardGradient2Color = #272B3F
$pickerPickedColor  = rgba(29, 226, 160, .7)
$ustColor = #E2D573
$transitionTime = 400ms

